# Soal 1: Hello World to Python

Print Say Hello World to Python

In [1]:
print("Say Hello World to Python")

Say Hello World to Python

# Soal 2: Aritmatika di Python

- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [2]:
print(15+3)
print(15-3)
print(15*3)
print(15/3)

18
12
45
5.0

# Soal 3: Assign Variable dan Tipe Data Integer, Float

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [6]:
a = 10
print(a)
b = 2
print(b)

print(a/b)

a = 5
b = 2
print(a/b)

10
2
5.0
2.5

# Soal 4: String Operation

- Masukan nama depan kamu kedalam suatu variable firstname
- Masukan name belakang kamu kedalam suatu variable lastname
- Tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [26]:
firstname = "Wahyu"
lastname = "Rokhmana"
name = firstname + " " +lastname

print(f'Hello sanbercode, saya {name}! saya siap belajar python data science dasar.')

Hello sanbercode, saya Wahyu Rokhmana! saya siap belajar python data science dasar.

# Soal 5: Tipe Data

Lengkapi code dibawah ini untuk menghasilkan output yang sesuai

usia =
kata = 'usiaku: '
print(kata + ...(usia)+...)

In [29]:
usia = 25
kata = 'usiaku:'
print(kata + " " + str(usia) + " " + 'Tahun')

usiaku: 25 Tahun

# Soal 6: Perbedaan Data Structure

Jawab Pertanyaan dibawah ini:

Jelaskan perbedaan dari List, Tuple, Set dan Dictionary!

1. LIST:
- struktur data yang paling dinamis daripada yang lain. 
- termasuk jenis struktur data yang anggotanya dapat diubah (ditambah, dikurang/dihapus, dibagi) sesuai dengan keinginan dan kebutuhan.
- list dapat diakses menggunakan index
- list menggunakan metode last in first out.
- dibatasi oleh tanda siku []


2. TUPLE:
- struktur data yang relatif paling ringan dan cepat daripada struktur data yang lain.
- dibatasi dengan tanda kurung biasa ()
- struktur data yang anggotanya tidak bisa diubah (ditambah, dikurang/dihapus, dibagi) atau bersifat imutable
- tuple dapat diakses menggunakan index


3. SET:
- Struktur data yang anggotanya uniqe
- struktur data yang dibatasi dengan tanda kurung kurawal {}
- struktur data yang anggotanya bisa diubah (hapus, tambah)
- struktur data yang tidak dapat diakses dengan index
- struktur data yang memiliki sifat seperti himpunan


4. DICTIONARY:
- struktur data yang anggotanya berpasangan (key:value)
- struktur data yang dibatasi dengan tanda kurung kurawal {}
- struktur data yang anggotanya bisa diubah
- struktur data yang tidak dapat diakses dengan index
- struktur data yang dapat diakses nilai dengan kunci

# Soal 7: Akses List

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
#slicing list

In [32]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]

print(a[1:5])

['13b', 'aa1', 1.32, 22.1]

# Soal 8: Akses Nested List

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

a = [
[5, 9, 8],
[0,0,6]
]
#Subsetting list

In [18]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]

print(a[1][0],a[1][-1])

0 6

# Soal 9: List Manipulation

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
#change list value

print(a)

[5, 9, 8], [0, 0, 6]

In [24]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]

a[0][2],a[1][0] = 10, 11
print(a)

[[5, 9, 10], [11, 0, 6]]

# Soal 10: Delete Element List

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
         
#Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [25]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

areas.remove("bathroom")
areas.remove(10.50)

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

# Soal 11: Mengakses Tuple

Gunakan cara slicing untuk mengakses tuple sehingga mendapatkan hasil sesuai expected output

tuple_1 = (1, 2, 6, 7, 8, 9, 10)

#akses tuple

In [27]:
tuple_1 = (1, 2, 6, 7, 8, 9, 10)

print(tuple_1[2:5])

(6, 7, 8)

# Soal 12: Menambahkan key-value baru ke Dictionary

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

#tambahkan key itali ke objek dictionary dengan value roma


#cek apakah itali ada di dalam objek dictionary

In [40]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}

europe['itali'] = 'roma'

'itali' in europe

True

# Soal 13: Update dan Remove Dictionary

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

#update nilai ibukota german ke berlin


#remove australia dari europa


print(europe)
{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'australia': 'vienna'}

In [41]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

europe['germany'] = 'berlin'

europe.pop('australia')
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

# Soal 14: Loop Dictionary

Lengkapi kode untuk menghasilkan suatu output yang diharapkan

country = { 
           'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 },
           'indonesia' : {'capital':'jakarta', 'population':250}
         }

for ..., .... in country.items():
    print('Ibukota '+....+' adalah ' + ....)

In [52]:
country = { 
           'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 },
           'indonesia' : {'capital':'jakarta', 'population':250}
         }

for x, y in country.items():
    print('Ibukota '+str(x)+' adalah ' + str(y))

Ibukota spain adalah {'capital': 'madrid', 'population': 46.77}
Ibukota france adalah {'capital': 'paris', 'population': 66.03}
Ibukota germany adalah {'capital': 'berlin', 'population': 80.62}
Ibukota norway adalah {'capital': 'oslo', 'population': 5.084}
Ibukota indonesia adalah {'capital': 'jakarta', 'population': 250}

# Soal 15: Remove Duplicate Using Set

Hilangkan nilai duplikat dari sebuah objek list dengan menggunakan cara set sehingga menjadi sebuah tipe set

obj_list = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10]

#using set

In [62]:
obj_list = {1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10}

print(obj_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Soal 16: Operasi pada Set

Carilah irisan dari kedua set dengan menggunakan metode intersection

set_2 = {6, 8, 9, 10, 24}
set_3 = {6, 10, 8, 25, 13}

#intersection set

In [65]:
set_2 = {6, 8, 9, 10, 24}
set_3 = {6, 10, 8, 25, 13}
kata = 'usiaku: '

print(kata, set_2 & set_3, "Tahun")

usiaku:  {8, 10, 6} Tahun